// src/settings/audio_settings.rs
#![enable(implicit_some)]
(
    bgm: {
        MainBgm: (
            file: "mainbgm.wav",
            should_loop: true,
        ),
    },

    sfx: {
        "Alarm": (
            file: "alarm.wav",
        ),

        "BossMumble": (
            file: "boss_mumble.wav",
        ),

        "BossScream1": (
            file: "boss_scream_1.wav",
        ),

        "BossScream2": (
            file: "boss_scream_2.wav",
        ),

        "BossScream3": (
            file: "boss_scream_3.wav",
        ),

        "BossScream4": (
            file: "boss_scream_4.wav",
        ),

        "CoffeeMaker": (
            file: "coffee_maker.wav",
        ),

        "Interact": (
            file: "interact.wav",
        ),

        "Keyboard": (
            file: "keyboard.wav",
        ),

        "PlayerFootsteps": (
            file: "player_footsteps.wav",
        ),

        "SceneTransition": (
            file: "scene_transition.wav",
        ),

        "Telephone": (
            file: "telephone.wav",
        ),
    },
)
