// src/settings/objects_settings.rs
#![enable(implicit_some)]
{
    "Solid": (
        spritesheet: "tilesets/colors.png",

        components: [
            Animations({
                Idle: Cycle([(3, 1000)]),
            }),
            Collidable((
                tag: Solid,
            )),
            Solid((
                tag: Solid,
            )),
            Hitbox(Size),
        ],
    ),

    "Scene1Bg": (
        spritesheet: "bg/scene1.png",
        components: [
            Size((
                w: 256.0,
                h: 144.0,
            )),
        ],
    ),

    "Other": (
        spritesheet: "player.png",
        components: [
            Animations({
                Idle: Cycle([
                    (0, 500),
                    (1, 500),
                    (2, 500),
                    (3, 500),
                ]),
            }),
            Collidable((
                tag: Interactable,
            )),
            Hitbox(Size),
            Interactable(()),
        ],
        events: {
            OnInteract: [
                Echo("INTERACT"),
                FaceTowardsObject(Player),
                StartTimer("FacePlayer", 500),

                ScreenShake((
                    duration_ms: 500,
                    strength: 2.0,
                    shake_delay_ms: 5,
                )),
                StartTimer("NextScene", 1000),
            ],

            OnTimerFinish("FacePlayer"): [
                AddOutput(["What's poppin mah dude?"]),
                FaceTowardsObject(Player),
            ],

            OnTimerFinish("NextScene"): [
                NextScene,
            ],
        },
    ),

    "Alarm": (
        components: [
            Collidable((
                tag: Interactable,
            )),
            Collider((
                tag: SelfCollidesWithPlayer,
            )),
            Hitbox(Size),
            Interactable(()),
            Animations({
                Idle: Cycle([
                    (0, 1000),
                ]),
                Custom("OnPlayerCollision"): Once([
                    (0, 250),
                    (1, 250),
                    (4, 250),
                    (5, 250),
                    (6, 250),
                    (5, 250),
                    (4, 250),
                    (1, 250),
                ]),
            }),
        ],

        events: {
            OnInteract: [
                Echo("INTERACT WITH ALARM!"),
                AddOutput(["EARTHQUAKE!"]),
                ScreenShake((
                    duration_ms: 2000,
                    strength: 4.0,
                    shake_delay_ms: 10,
                )),
                Fade((
                    type: FadeIn,
                    duration_ms: 5000,
                )),

                StartTimer("Text0", 0),
            ],

            OnTimerFinish("Text0"): [
                SetOutput([
                    "ring ring"
                ]),
                StartTimer("Text1", 3000),
            ],
            OnTimerFinish("Text1"): [
                SetOutput([
                    "ringggg.... ringg....... ring?"
                ]),
                StartTimer("Text2", 3000),
            ],
            OnTimerFinish("Text2"): [
                SetOutput([
                    "Hello-oh! Anyone home?"
                ]),
                StartTimer("Text3", 3000),
            ],
            OnTimerFinish("Text3"): [
                SetOutput([
                    "Rise and shine, buddy!"
                ]),
            ],

            OnCollision(And([IsTag(Player), IsState(Enter)])): [
                Echo("Colliding with player!"),
                PushAnimation(Custom("OnPlayerCollision")),
            ],
        },
    ),
}
