// src/settings/objects_settings.rs
#![enable(implicit_some)]
{
    "Solid": (
        spritesheet: "tilesets/colors.png",

        components: [
            Animations({
                Idle: Cycle([(3, 1000)]),
            }),
            Collidable((
                tag: Solid,
            )),
            Solid((
                tag: Solid,
            )),
            Hitbox(Size),
        ],
    ),

    "Scene1Bg": (
        spritesheet: "bg/scene1.png",
        components: [
            Size((
                w: 256.0,
                h: 144.0,
            )),
        ],
    ),

    "Other": (
        spritesheet: "player.png",
        components: [
            Animations({
                Idle: Cycle([
                    (0, 500),
                    (1, 500),
                    (2, 500),
                    (3, 500),
                ]),
            }),
            Collidable((
                tag: Interactable,
            )),
            Hitbox(Size),
            Interactable(()),
        ],
        events: {
            OnInteract: [
                Echo("INTERACT"),
                FaceTowardsObject(Player),
                StartTimer("FacePlayer", 500),
            ],

            OnTimerFinish("FacePlayer"): [
                AddOutput(["What's poppin mah dude?"]),
                FaceTowardsObject(Player),
            ],
        },
    ),

    "Alarm": (
        components: [
            Collidable((
                tag: Interactable,
            )),
            Collider((
                tag: SelfCollidesWithPlayer,
            )),
            Hitbox(Size),
            Interactable(()),
            Animations({
                Idle: Cycle([
                    (0, 1000),
                ]),
                Custom("OnPlayerCollision"): Once([
                    (0, 250),
                    (1, 250),
                    (4, 250),
                    (5, 250),
                    (6, 250),
                    (5, 250),
                    (4, 250),
                    (1, 250),
                ]),
            }),
        ],

        events: {
            // OnSpawn(0): [
            //     PlayAnimation(Custom("Idle0")),
            // ],
            // OnSpawn(1): [
            //     PlayAnimation(Custom("Idle1")),
            // ],
            // OnSpawn(2): [
            //     PlayAnimation(Custom("Idle2")),
            // ],
            // OnSpawn(3): [
            //     PlayAnimation(Custom("Idle3")),
            // ],

            OnInteract: [
                Echo("INTERACT WITH ALARM!"),
                ScreenShake(2000, 4.0),
                // ForeignObjectAction(Player, [
                //     Hide,
                //     SetControllable(false),
                // ]),
                // SetPlayerControllable(false),
                // ShowEntities("AlarmText"),  // `type: "Custom(AlarmText)"`
                // ShowEntities("AlarmChild"), // `type: "Custom(AlarmChild)"`
                // Delay(1000, [
                //     HideEntities("AlarmText"),
                //     HideEntities("AlarmChild"),
                // ]),
            ],

            OnCollision(And([IsTag(Player), IsState(Enter)])): [
                Echo("Colliding with player!"),
                PushAnimation(Custom("OnPlayerCollision")),
            ],
        },
    ),

    // "AlarmChild": (
    //     spritesheet: "alarm_child.png",
    //     components: [
    //         Hidden(()),
    //     ],
    // ),

    // "Pic": (
    //     events: {
    //         OnInteract: [
    //             SetOutput([
    //                 "This is a picture.",
    //                 "It is very colorful.",
    //             ]),
    //             Delay(1000, [
    //                   ClearOutput,
    //                   SetOutput(["Cleared"]),
    //                   PlayAnimation(Custom("MyAnim")),
    //             ]),

    //             TriggerForeign(Custom("Npc"), [
    //                 PlayAnimation("PlayerIsCheckingPic"),
    //             ]),
    //         ],
    //     },
    // ),

    // "Npc": (
    //     components: [
    //         Animations({
    //             Custom("PlayerIsCheckingPic"): [/* ... */],
    //         }),
    //     ],
    // ),
}
