// src/settings/player_settings.rs
#![enable(implicit_some)]
(
    spritesheet_filename: "player.png",

    components: [
        Size((
            w: 16.0,
            h: 32.0,
        )),
        Animations({
            Idle: Cycle([
                (12, 400),
                (13, 400),
            ]),
            Walk: Cycle([
                (0, 200),
                (1, 200),
                (2, 200),
                (3, 200),
            ]),
        }),
        Gravity(( y: -800.0 )),
        BaseFriction(( x: 2000.0 )),
        Movement((
            acceleration: 300.0,
            max_velocity: 50.0,
        )),
        Collider((
            tag: Player,
        )),
        Collidable((
            tag: Player,
        )),
        Solid((
            tag: Player,
        )),
        Hitbox(Custom([
            (
                top:     12.0,
                bottom: -16.0,
                left:   -3.0,
                right:   3.0,
            ),
        ])),
    ],

    // Need to have this be set for other entities to trigger player actions.
    events: {
        Init: [
            SetVariable("in_alarm_fight", false),

            If((
                if: Equal(CurrentScene, Val(0)),
                then: [
                    SetVariable("is_controllable", false),
                    Hide,
                    SetControllable(false),
                    SetOutput(
                        text: "Press SPACE to get up.",
                        target: "ingame_output_text_get_up",
                        scroll: true,
                    ),
                ],
                else: [
                    SetVariable("is_controllable", true),
                ],
            )),
            Fade((
                type: FadeIn,
                duration_ms: 500,
            )),
        ],

        OnTimerFinish("StartFight"): [
            SetVariable("in_alarm_fight", true),
            Show,
            SetControllable(true),
        ],

        OnKeyDown(Interact): [
            If((
                if: Equal(Var("in_alarm_fight"), Val(true)),
                then: [
                    StartTimer("Shoot", 0),
                ],
            )),
        ],

        OnKeyUp(Interact): [
            If((
                if: Equal(Var("in_alarm_fight"), Val(true)),
                then: [
                    StopTimer("Shoot"),
                ],
            )),
        ],

        OnTimerFinish("Shoot"): [
            SpawnObject((
                object: Custom("PlayerBullet"),
                offset: (0.0, 10.0, 1.0),
                size: (8.0, 8.0),
            )),
            StartTimer("Shoot", 500),
        ],

        OnCollision(And([IsTag(AlarmBullet), IsState(Enter)])): [
            ScreenShake((
                duration_ms: 1000,
                strength: 4.0,
                shake_delay_ms: 10,
            )),
        ],
    },
)
