// src/settings/player_settings.rs
#![enable(implicit_some)]
(
    spritesheet_filename: "tilesets/colors.png",

    components: [
        Animations({
            Idle: Cycle([
                (4, 500),
                (5, 500),
                (6, 500),
                (5, 500),
            ]),
            Walk: Cycle([
                (4, 200),
                (5, 200),
                (6, 200),
            ]),
        }),
        Gravity(( y: -800.0 )),
        BaseFriction(( x: 1000.0 )),
        Movement((
            acceleration: 500.0,
            max_velocity: 300.0,
        )),
        Collider((
            tag: Player,
        )),
        Collidable((
            tag: Player,
        )),
        Solid((
            tag: Player,
        )),
        Hitbox(Size),
    ],
)
