// src/settings/scenes_settings.rs
#![enable(implicit_some)]
(
    scenes: [
        // DEBUG
        // (
        //     level: "scene_3.json",
        // ),

        (
            level: "scene_1.json",
        ),
        // (
        //     level: "dev.json",
        // ),
        (
            level: "scene_3.json",
        ),
    ],
)
