// src/settings/scenes_settings.rs
#![enable(implicit_some)]
(
    scenes: [
        (
            level: "dev.json",
        ),
        (
            level: "dev.json",
        ),
        (
            level: "dev.json",
        ),
    ],
)
