// src/settings/tiles_settings.rs
#![enable(implicit_some)]
{
    // For tiles without type.
    // Empty config, only renders sprite.
    "": (),

    "Solid": (
        components: [
            Collidable((
                tag: Solid,
            )),
            Solid((
                tag: Solid,
            )),
            Hitbox(Size),
        ],
    ),

    "Alarm": (
        components: [
            Collidable((
                tag: Interactable,
            )),
            Collider((
                tag: WithPlayer,
            )),
            Hitbox(Size),
            Interactable(()),
        ],

        events: {
            OnInteract: [
                Echo("INTERACT WITH ALARM!"),
                ForeignObjectAction(Player, [
                    Hide,
                    SetControllable(false),
                ]),
                // SetPlayerControllable(false),
                // ShowEntities("AlarmText"),  // `type: "Custom(AlarmText)"`
                // ShowEntities("AlarmChild"), // `type: "Custom(AlarmChild)"`
                // Delay(1000, [
                //     HideEntities("AlarmText"),
                //     HideEntities("AlarmChild"),
                // ]),
            ],

            OnCollision(And([IsTag(Player), IsState(Enter)])): [
                Echo("Colliding with player!"),
            ],
        },
    ),
}
