// src/settings/tiles_settings.rs
#![enable(implicit_some)]
{
    // For tiles without type.
    // Empty config, only renders sprite.
    "": (),

    "Solid": (
        components: [
            Collidable((
                tag: Solid,
            )),
            Solid((
                tag: Solid,
            )),
            Hitbox(Size),
        ],
    ),

    "Alarm": (
        components: [
            Collidable((
                tag: Interactable,
            )),
            Hitbox(Size),
            Interactable(Alarm),
        ],

        // events: {
        //     OnInteract: [
        //         SetPlayerControllable(false),
        //         ShowEntities("AlarmText"),  // `type: "Custom(AlarmText)"`
        //         ShowEntities("AlarmChild"), // `type: "Custom(AlarmChild)"`
        //         Delay(1000, [
        //             HideEntities("AlarmText"),
        //             HideEntities("AlarmChild"),
        //         ]),
        //     ],
        // },
    ),
}
