// src/settings/tiles_settings.rs
#![enable(implicit_some)]
{
    // For tiles without type.
    // Empty config, only renders sprite.
    "": (),

    "Solid": (
        components: [
            Collidable((
                tag: Solid,
            )),
            Solid((
                tag: Solid,
            )),
        ],
    ),
}
