#![enable(implicit_some)]
{
    "Coworker1": (
        spritesheet: "scene3/coworker_1.png",
        components: [
            Size((
                w: 32.0,
                h: 32.0,
            )),
            Animations({
                Idle: Cycle([
                    (0, 400),
                    (1, 400),
                ]),
                Custom("Talk"): Once([
                    (0, 100),
                    (1, 100),
                    (0, 100),
                    (1, 100),
                    (0, 100),
                    (1, 100),
                    (0, 100),
                    (1, 100),
                ]),
                Custom("HeadScratch"): Once([
                    (10, 100),
                    (11, 100),
                    (12, 100),
                    (13, 100),
                    (14, 100),
                    (15, 100),
                    (16, 100),
                    (17, 100),
                    (18, 500),
                ]),
            }),
            Hitbox(Custom([
                (
                    top:    16.0,
                    bottom: -16.0,
                    left:   -10.0,
                    right:  10.0,
                ),
            ])),
            Collidable((
                tag: Interactable,
            )),
            Interactable(()),
            TextLines({
                "Inspect": (
                    lines: [
                        "The boss is having one of his episodes again.\nEarlier he threw a dustbin at Charlie.",
                    ],
                    behavior: Sequence(loop: true),
                ),
            }),
        ],

        events: {
            OnInteract: [
                PlaySound("Interact"),
                PushAnimation(Custom("Talk")),
                OutputNextLine(
                    id: "Inspect",
                    scroll: true,
                ),
                FaceTowardsObject(Player),
            ],
        },
    ),
}
