#![enable(implicit_some)]
{
    "Plant": (
        spritesheet: "scene1/plant.png",
        components: [
            Size((
                w: 24.0,
                h: 32.0,
            )),
            Collidable((
                tag: Interactable,
            )),
            Interactable(()),
            Hitbox(Size),
            Animations({ Idle: Cycle([ (6, 1000), ]), }),
            InLoop(0, [ Animations({ Idle: Cycle([ (0, 1000), ]), }), ]),
            InLoop(1, [ Animations({ Idle: Cycle([ (1, 1000), ]), }), ]),
            InLoop(2, [ Animations({ Idle: Cycle([ (2, 1000), ]), }), ]),
            InLoop(3, [ Animations({ Idle: Cycle([ (3, 1000), ]), }), ]),
            InLoop(4, [ Animations({ Idle: Cycle([ (4, 1000), ]), }), ]),
            InLoop(5, [ Animations({ Idle: Cycle([ (5, 1000), ]), }), ]),
            InLoop(6, [ Animations({ Idle: Cycle([ (6, 1000), ]), }), ]),
        ],

        events: {
            OnInteract: [
                PlaySound("Interact"),
                SetOutput(
                    text: "Huxley has seen better days, but he's a fighter.",
                ),
            ],
        },
    ),
}
